#### Copyright (C) Skillworks IT - All Rights Reserved
#### Unauthorized copying of this file, via any medium is strictly prohibited
#### Proprietary and confidential
#### Written by Skillworks IT <contact@skillworksit.com>, Jan 2023

/coverage
/logs
/node_modules/

/assets/
